# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/gen
**/models/*.bin
/.pnp
.pnp.*
pnpm-lock.yaml
package-lock.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.mp4

transcripts/
chroma/
models/
whisper.cpp/
whisper-server*
whisper-server-package/

# testing
/coverage
/dist

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
